<div class="dosis">
<h1>Contact Information</h1>
</div>

<h2><strong> If you are interested or have any questions about any of our rental properties please do not hesitate to contact us!</strong></h2>

<h3><strong>Phone: 404-399-0904</strong></h4>
<h3><strong>Email: <a href="mailto:gandeproperties@gmail.com">gandeproperties@gmail.com</a></strong></h4>
